body {
	background-color: black;
}
.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}
.logo {
	/*position: absolute;left: 726px;
    top: 131px;*/
	
    
}
.logo img {
	display: block;
	width: 323px;
	margin:0px auto 50px;
}
.instructions{
	left: 743px;
	position: absolute;
	top: 125px;
	width: 425px;

}
.instructions p {
	font-family: 'Hammersmith One', sans-serif; font-size: 20px;
    margin-top: 33px;
    text-align: justify;
	 font-size: 20px;
    margin-top: 33px;
    text-align: justify;
}

.ryu{
	float: left;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}
.ryu-ready {
	background-image: url("../images/ryu-ready-position.gif");
}
.ryu-still {
	background-image: url("../images/ryu-standing-still.png");
}
.ryu-throwing {
	background-image: url("../images/ryu-throwing-hadouken.png");
}
.ryu-cool {
	background-image: url("../images/ryu-cool.gif");
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}
.hadouken {
	background-image: url("../images/hadouken.gif");
	width: 156px;
	height: 90px;
	display: none;
	position:relative;
	top: 167px;
	left: -202px;
	float: left;
}